#columns-container {
    --floating-button-width: 20px;
    --floating-button-height: 20px;
    --floating-button-bg: #dbdbdb;
    --position-tb: -4px;
    --position-lr: -4px;
}

.mandala-floating-button {
    width: var(--floating-button-width);
    height: var(--floating-button-height);
    position: absolute;
    box-shadow: none;
    border: none;
    transition: opacity 200ms;
    padding: 4px !important;
    cursor: pointer;
    z-index: 10;
    & svg {
        width: 14px;
        height: 14px;
    }
}

.is-disabled {
    cursor: not-allowed;
}

/* bg */
.theme-light {
    .mandala-floating-button {
        color: #000 !important;
        background-color: #ffffffee !important;
    }
}

.theme-dark {
    .mandala-floating-button {
        color: #fff !important;
        background-color: #bebebe30;
    }
    .active-node .mandala-floating-button {
        color: #fff !important;
        background-color: rgba(60, 60, 60, 0.3);
    }
}
.collapse-button {
    background-color: var(--background-active-parent) !important;
}

/* opacity */
.theme-light{
    --opacity-inactive-node: 0.5;
    --opacity-active-node: 0.5;
    --opacity-active-button: 0.8;
}
.theme-dark {
    --opacity-inactive-node: 0.6;
    --opacity-active-node: 0.4;
    --opacity-active-button: 0.8;
}


.mandala-floating-button {
    opacity: 0;
}

.mandala-view:not(.mandala-white-theme) .mandala-card:hover .mandala-floating-button {
    opacity: var(--opacity-inactive-node);
}

.mandala-view:not(.mandala-white-theme) .active-node:hover,
.mandala-view:not(.mandala-white-theme) .active-child:hover {
    & .mandala-floating-button {
        opacity: var(--opacity-active-node);
    }
}

.mandala-floating-button:not(.is-disabled):hover {
    opacity: var(--opacity-active-button);
}

.tree-index:hover {
    opacity: var(--opacity-active-button);
}

.collapse-button {
    opacity: 0.3 !important
}
.collapse-button:hover {
    opacity: 0.8 !important
}

/* position */
.position-top {
    /*top: calc((-1 * var(--height)) / 2);*/
    top: var(--position-tb);
    left: calc(50% - calc(var(--floating-button-width) / 2));
}
.position-bottom {
    /*bottom: calc((-1 * var(--height)) / 2);*/
    bottom: var(--position-tb);
    left: calc(50% - calc(var(--floating-button-width) / 2));
}
.position-right {
    top: calc(50% - calc(var(--floating-button-height) / 2));
    right: var(--position-lr);
}

.position-bottom-right {
    top: 3px;
    right: 3px;
}
.position-top-right {
    top: 3px;
    right: 26px;
}

.position--section {
    bottom: 3px;
    right: 8px;
}

.collapse-button {
    top: calc(50% - 10px);
    left: -40px;
}

/* misc */
.delete-card-button:hover{
    background-color:#ff7b4d !important;
    color: #fff !important
}

