.mandala-view-button {
    width: 34px !important;
    height: 34px !important;
    padding: 8px !important;
    font-size: inherit;
    color: var(--icon-color) !important;
    background-color: var(--interactive-normal);
    --icon-size: var(--icon-s);
    --icon-stroke: var(--icon-s-stroke-width);
    cursor: pointer;
    border-radius: 0;
    border: none;
    box-shadow: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;

    & svg {
        opacity: 0.6;
        display: block;
    }
}

.mandala-view-button:disabled {
    cursor: not-allowed;
}

.mandala-view-button:hover {
    background-color: var(--interactive-hover);
}

.mandala-view-button:disabled {
    cursor: not-allowed;
    color: var(--color-base-40) !important;
}

.mandala-view-button[data-active='true'] {
    color: var(--icon-color-active) !important;
}

.mandala-view-button[data-active='true'] svg {
    opacity: 1;
}

.buttons-group {
    border-radius: var(--radius-s);
    overflow: hidden;
    box-shadow: var(--input-shadow);
    display: flex;
    background-color: var(--interactive-normal);
}

.buttons-group--vertical {
    flex-direction: column;
}
