.lineage-modal {
    max-width: var(--view-width);
    max-height: var(--view-height);
    overflow: auto;
    width: fit-content;
    background-color: var(--background-primary);
    position: absolute;
    right: 50px;
    top: calc(var(--size-4-2) + 96px);
    display: flex;
    flex-direction: column;
    gap: var(--size-4-2);
    z-index: 10;

    min-width: 165px;
    padding: var(--size-4-2);
    --scrollbar-bg: initial !important;
}

@media (max-width: 720px) {
    .lineage-modal {
        left: var(--size-4-2);
        overflow-x: auto;
    }
}

.lineage-modal--full-height {
    bottom: var(--size-4-2);
}