.lineage-modal {
    max-width: var(--view-width);
    max-height: var(--view-height);
    overflow: auto;
    width: fit-content;
    background-color: var(--background-primary);
    position: absolute;
    right: var(--size-4-2);
    top: var(--size-4-2);
    display: flex;
    flex-direction: column;
    gap: var(--size-4-2);
    z-index: 10;

    min-width: 165px;
    padding: var(--size-4-2);
    --scrollbar-bg: initial !important;

    /* Highlight with shadow and border */
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15), 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-m);
}

@media (max-width: 720px) {
    .lineage-modal {
        left: var(--size-4-2);
        overflow-x: auto;
    }
}

.lineage-modal--full-height {
    bottom: var(--size-4-2);
}