.inactive-node,
.active-sibling,
.active-parent,
.active-child {
    & mark {
        filter: grayscale(1);
    }
}

.active-sibling,
.active-parent,
.inactive-node {
    & .cm-comment {
        color: var(--text-muted) !important;
    }
}

.hide-hidden-info .lng-hidden-info {
    display: none !important;
}

.hide-hidden-info .lng-hidden-info-part {
    display: none !important;
}

.lineage-card p,
.mandala-detail-sidebar p {
    margin: 0;
}

.lineage-card,
.mandala-detail-sidebar {
    --p-spacing: 0px;

    & .callout {
        mix-blend-mode: initial;
    }

    & button.copy-code-button {
        display: none;
    }

    & .cm-blockid {
        display: inline-block;
        font-size: 12px;
        vertical-align: text-top;
        margin-top: -0.2em;
        color: var(--text-muted);
        opacity: 0.5;
    }

    & .is-unresolved {
        color: var(--link-unresolved-color);
        opacity: var(--link-unresolved-opacity);
        filter: var(--link-unresolved-filter);
    }

    & ul,
    ol {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0;
    }
}